<form class=" text-center border p-5 " [formGroup]="postForm">

  <p class="h4 text-center mb-4">Thông tin bài đăng</p>

  <!--Thông tin xe-->
  <div class="container">
  <p class="h5">Thông tin xe</p>
  <div class="divider"></div>
  <div class="form-group row"><p class="title" class="h6">Hãng xe *</p>
  <select class="custom-select" id="brand">
    <select class="custom-select" id="brand">
      <option *ngFor="let brand of brands" value="">{{brand}}</option>
    </select>
  </select>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Dòng xe *</p>
    <div>
      <input type="text" class="form-control" id='model' value="">
    </div>
  </div>

  <div class="form-group row"><p class="title" class="h6">Màu xe *</p>
    <select class="custom-select" id="color" formControlName="color">
      <option *ngFor="let color of colors" value="">{{color}}</option>
    </select>
  </div>

  <div class="form-group row"><p class="title" class="h6">Năm sản xuất *</p>
    <select class="custom-select" id='year'>
      <option *ngFor="let year of years" value="">{{year}}</option>
    </select>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Xuất xứ *</p>
    <div class="imp_exp">
      <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="imp_exp" id="incountry" value="">Lắp ráp trong nước
      </div>
      <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="imp_exp" id="outcountry"  value="">Nhập khẩu
      </div>
    </div>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Tình trạng *</p>
    <div class="new_old">
      <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="imp_exp" id="new" value="">Xe mới
      </div>
      <div class="form-check-inline">
        <input class="form-check-input" type="radio" name="imp_exp" id="old"  value="">Xe cũ
      </div>
    </div>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Số km đi được *</p>
    <div>
      <input type="number" class="form-control" value="" formControlName="km">
    </div>
  </div>

  <div class="form-group row"><p class="title" class="h6" >Số ghế *</p>
    <div>
      <input type="number" class="form-control" value="" formControlName="seat">
    </div>
  </div>

  <div class="form-group row"><p class="title" class="h6" >Giá *</p>
    <div>
      <input type="number" class="form-control"  formControlName="price" >
    </div>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Tỉnh/Thành Phố*</p>
    <select class="custom-select" #location (change)="changePros(location.value)" formControlName="province">
      <option *ngFor ="let count of prosList">{{count.name}} </option>
  </select>
  </div>
  <div class="form-group row" ><p class="title" class="h6">Quận/Huyện</p>
  <select class="custom-select">
    <option *ngFor ="let d of dists">{{d}} </option>
</select>
  </div>
</div>

  <!--Thông tin liên hệ-->
  <div class="container">
  <p class="h5">Thông tin liên hệ</p>
  <div class="divider"></div>
  <div class="form-group row" ><p class="title" class="h6">Tên người bán</p>
    <div>
      <input type="text" class="form-control" value="" formControlName="name">
    </div>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Số điện thoại *</p>
    <div>
      <input type="tel"  class="form-control" formControlName="phone" value="">
    </div>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Email</p>
    <div>
      <input type="email" class="form-control" value="" formControlName="email">
    </div>
  </div>
</div>

  <!--Tiêu đề - Nội dung-->
  <div class="container">
  <p class="h5">Tiêu đề - Nội dung</p>
  <div class="divider"></div>
  <div class="form-group row" ><p class="title" class="h6">Tiêu đề *</p>
    <div>
      <input type="text"  class="form-control" value="" formControlName="title">
    </div>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Nội dung *</p>
    <div>
      <textarea  class="form-control"value=""></textarea>
    </div>
  </div>
</div>
  <!--Hình ảnh-->

</form>
