<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/trangchu'>Trang chủ</a></li>
    <li class="breadcrumb-item"><a routerLink='/dangnhap'>Tin tức</a></li>
    <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
  </ol>
</nav>

<div class="container">
  <header class="title">
    <h1>{{title}}</h1>
  </header>
  <div class="author" >
    <p>{{author}}&nbsp;&nbsp;|&nbsp;&nbsp;{{time}}</p>
  </div>
  <div class="img-title" >
    <img src="{{img_title}}" class="img_title" alt = "title_img">
  </div>
  <div class=summary>
    <h5>{{summary}}</h5>
  </div>

  <div class="content">
    <p>Theo tin tức ô tô, Hyundai Ioniq 6 là mẫu sedan điện được phát triển dựa trên mẫu xe Prophecy Concept.
      Được biết, Ioniq 6 sử dụng chung nền tảng eGMP tương tự Ioniq 5 và sẽ có kích cỡ như 1 chiếc Hyundai Sonata.
      Ioniq 6 trang bị bộ pin điện 73 kW và có đến 2 tùy chọn sức mạnh khác nhau.
      Cụ thể, Hyundai Ioniq 6 bản cơ sở sẽ sử dụng mô-tơ điện cho công suất 215 mã lực.
      Trong khi đó, phiên bản cao cấp hơn sẽ được trang bị đến 2 mô-tơ điện, cho phép xe đạt mức công suất 308 mã lực
      và tầm vận hành là 483 km.</p>
    <p>Theo dự kiến, hãng xe Hàn Quốc sẽ giới thiệu mẫu xe Hyundai Ioniq 6 tại Mỹ vào năm 2022.
      Sau đó, mẫu SUV chạy điện Hyundai Ioniq 7 sẽ xuất hiện vào 2024.
      Được biết, Hyundai Ioniq 7 sở hữu cấu hình 3 hàng ghế dưới dạng 6/7 chỗ theo tùy chọn và có kích cỡ tương đương Palisade.</p>
    <p>Hyundai Palisade cũng nằm trong kế hoạch làm mới sản phẩm 2021 - 2022 của Hyundai và dự kiến sẽ được nâng cấp vào năm sau.
      Theo lộ trình sản phẩm mới, cả Hyundai Palisade và Hyundai Sonata facelift sẽ ra mắt vào năm 2022.
      Tuy nhiên, chưa rõ mẫu xe nào sẽ đến trước hoặc liệu cả 2 ra mắt cùng lúc hay không.
      Đáng chú ý, cũng trong năm 2022, Hyundai x35 và Grandeur thế hệ mới sẽ trình làng.</p>
    <p>Lộ trình sản phẩm của Hyundai cũng xác nhận việc tung ra mẫu xe hiệu suất Elantra N vào năm 2021.
      Được biết, xe có tên khác là Avante N tại Hàn Quốc và Singapore. Gần đây, phiên bản thử nghiệm của Hyundai Elantra N 2021
       đã xuất hiện trên đường đua Nurburgring và xe thậm chí có thể ra mắt ở châu Âu nếu có đủ nhu cầu.</p>
    <div class="img-content" >
      <img src="{{img_content}}" class="img_title" alt = "car_img">
    </div>
    <p>Đối với dòng xe thân thiện với môi trường, Hyundai Mistra EV dự kiến sẽ trình làng vào cuối năm nay.
      Một mẫu xe điện khác chỉ dành cho thị trường Trung Quốc sẽ ra mắt vào năm sau, tiếp theo đó là phiên bản plug-in hybrid của Grandeur mới.
      Hiện tại, Hyundai không còn bán Grandeur ở Mỹ nữa nên Hyundai Sonata giờ là mẫu sedan lớn nhất và đắt nhất của thương hiệu này tại đây.</p>
    <p>Trong một thông tin liên quan, vào tháng 10 và tháng 11 năm ngoái, hãng xe lớn nhất Hàn Quốc đã làm mới 2 mẫu xe gầm cao của mình.
      Cụ thể, Hyundai Santa Fe đã giới thiệu hộp số ly hợp kép mới và biến thể Calligraphy sang trọng. Một tháng sau, Hyundai Kona và Kona EV cũng được nâng cấp.</p>
  </div>
</div>
