<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/trangchu'>Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
  </ol>
</nav>

<div class="body">
  <header>
    <h1 id="h1_a" >Tin mới</h1>
  </header>
    <div class="card-container">
      <div class="card_a card-1" *ngFor="let news of newses.slice(0,3)">
        <div class="card-info" routerLink="/tintuc/{{news.slug}}">
          <div class="card-about">
            <p class="card-tag tag-news">Tin mới</p>
            <div class="card-time">{{news.createdAt}}</div>
          </div>
          <h1 class="card-title">{{news.title}}</h1>
          <br>
          <span>{{news.postedBy.fullname}}</span>
        </div>
      </div>
    </div>


    <header>
      <h1 id="h1_a">Tin nổi bật</h1>
    </header>
    <div class="band">

      <div class="item-1" *ngFor="let news of newses.slice(3,4)">
        <a class="card" routerLink="/tintuc/{{news.slug}}">
          <div class="thumb"
            style="background-image: url({{news.newsImage}})">
          </div>
          <article>
            <h1>{{news.title}}</h1>
            <span>{{news.postedBy.fullname}}ㅤ|ㅤ{{news.createdAt}}</span>
          </article>
        </a>
      </div>
    </div>

    <header>
      <h1 id="h1_a">Tin chính</h1>
    </header>
    <div class="band">
      <div class="item-2" *ngFor="let news of newses.slice(4,500) | paginate: { id: 'listening_pagination',
      itemsPerPage: 4,
      currentPage: page,
      totalItems: totalLength}">
        <a class="card" routerLink="/tintuc/{{news.slug}}">
          <div class="thumb"
            style="background-image: url({{news.newsImage}});">
          </div>
          <article>
            <h1>{{news.title}}</h1>
            <span>{{news.postedBy.fullname}}ㅤ|ㅤ{{news.createdAt}}</span>
          </article>
        </a>
      </div>
    </div>
    <div class="page">
      <div class="pagination">
        <pagination-controls id="listening_pagination" previousLabel="trước" nextLabel="sau" (pageChange)="page = $event">
        </pagination-controls>
      </div>
    </div>
</div>
