<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/trangchu'>Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tin tức</li>
  </ol>
</nav>

<div class="body">

  <header>
    <h1 id="h1_a" >Tin nổi bật</h1>
  </header>
  <div class="brand">
    <div class="card-container">
      <div class="card_a card-1">
        <div class="card-img"></div>
        <a href="" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <div class="card-about">
            <a class="card-tag tag-news">Xe mới</a>
            <div class="card-time">30/05/2021</div>
          </div>
          <h1 class="card-title">Toyota Highlander 2022 Bronze Edition cập bến phiên bản vàng đồng siêu chất lượng</h1>
          <br>
          <span>Đăng Khoa</span>
        </div>
      </div>
      <div class="card_a card-2">
        <div class="card-img"></div>
        <a href="" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <div class="card-about">
            <a class="card-tag">Sự kiện</a>
            <div class="card-time">27/05/2021</div>
          </div>
          <h1 class="card-title">Honda công bố kết quả hoạt động 2021 và kế hoạch phát triển năm tài chính 2022</h1>
          <br>
          <span>Phạm Bình</span>
        </div>
      </div>
      <div class="card_a card-3">
        <div class="card-img"></div>
        <a href="" class="card-link">
          <div class="card-img-hovered"></div>
        </a>
        <div class="card-info">
          <div class="card-about">
            <a class="card-tag tag-deals">Giảm giá</a>
            <div class="card-time">21/05/2021</div>
          </div>
          <h1 class="card-title">Honda HR-V giảm giá sốc, đại lý cam đoan giúp khách 'tiết kiệm' 130 triệu đồng</h1>
          <br>
          <span>Trần Nghĩa</span>
        </div>
      </div>

    </div>


    <header>
      <h1 id="h1_b">Tin chính</h1>
    </header>
    <div class="band">
      <div class="item-1">
        <a href="https://design.tutsplus.com/articles/international-artist-feature-malaysia--cms-26852" class="card">
          <div class="thumb"
            style="background-image: url(https://img1.oto.com.vn/2021/05/27/8RgE0bMU/danh-sach-xe-moi-2022-cua-hyundai-bo-sung-them-ion-9783.jpg);">
          </div>
          <article>
            <h1>Danh sách xe mới 2022 của Hyundai bổ sung thêm Ioniq 6 và Ioniq 7</h1>
            <span>Phú Qúyㅤ|ㅤ20/05/2021</span>
          </article>
        </a>
      </div>
      <div class="item-2">
        <a href="https://webdesign.tutsplus.com/articles/how-to-conduct-remote-usability-testing--cms-27045"
          class="card">
          <div class="thumb"
            style="background-image: url(https://tinbanxe.vn/uploads/car/mceu_9392631921622189901982.jpg);">
          </div>
          <article>
            <h1>Lộ diện Toyota Highlander Bronze Edition - 6 chỗ, trang bị nhiều chi tiết vàng đồng, có giá hơn 4 tỷ đồng</h1>
            <span>Nhật Thủyㅤ|ㅤ18/05/2021</span>
          </article>
        </a>
      </div>
      <div class="item-3">
        <a href="https://design.tutsplus.com/articles/envato-tuts-community-challenge-created-by-you-july-edition--cms-26724"
          class="card">
          <div class="thumb"
            style="background-image: url(https://tinbanxe.vn/uploads/car/mceu_73714749411622174257634.jpg);">
          </div>
          <article>
            <h1>Toyota Fortuner thế hệ mới bổ sung thêm cửa sổ trời - công nghệ hiện đại chưa từng có để lấy lại ngôi vương SUV 7 chỗ</h1>
            <p>Thông tin về thế hệ mới của Toyota Fortuner đang dần lộ diện.</p>
            <span>Nhật Đăngㅤ|ㅤ17/05/2021</span>
          </article>
        </a>
      </div>
      <div class="item-4">
        <a href="https://webdesign.tutsplus.com/tutorials/how-to-code-a-scrolling-alien-lander-website--cms-26826"
          class="card">
          <div class="thumb"
            style="background-image: url(https://img1.oto.com.vn/2021/05/27/8RgE0bMU/ngung-san-xuat-mitsubishi-pajero-final-edition-202-a229.png);">
          </div>
          <article>
            <h1>Ngưng sản xuất, Mitsubishi Pajero Final Edition 2022 ra bản cuối chia tay khách hàng</h1>
            <span>Trần Hùngㅤ|ㅤ16/05/2021</span>
          </article>
        </a>
      </div>
      <div class="item-5">
        <a href="https://design.tutsplus.com/tutorials/stranger-things-inspired-text-effect--cms-27139" class="card">
          <div class="thumb"
            style="background-image: url(https://tinbanxe.vn/uploads/car/2021_08/rolls-royce-boat-tail-2021-tinbanxe-1.jpg);">
          </div>
          <article>
            <h1>Chiêm ngưỡng chiếc Rollat Tail siêu Royce Bou đắt đỏ trị giá 645 tỷ đồng</h1>
            <p>Ngoài Hyundai Ioniq 6 và Ioniq 7, hãng xe Hàn còn một số mẫu xe khác dự kiến ra mắt vào năm 2022.</p>
            <span>Đức Tríㅤ|ㅤ14/05/2021</span>
          </article>
        </a>
      </div>
      <div class="item-6">
        <a href="https://photography.tutsplus.com/articles/5-inspirational-business-portraits-and-how-to-make-your-own--cms-27338"
          class="card">
          <div class="thumb"
            style="background-image: url(https://tinbanxe.vn/uploads/car/2021_08/bmw-x7-tinbanxe.vn.jpg);">
          </div>
          <article>
            <h1>"Con xế khủng" BMW X7 phiên bản M50i giá ngấp nghé trên 10 tỷ đồng đã về Việt Nam</h1>

            <span>Minh Vươngㅤ|ㅤ12/05/2021</span>
          </article>
        </a>
      </div>
      <div class="item-7">
        <a href="https://webdesign.tutsplus.com/articles/notes-from-behind-the-firewall-the-state-of-web-design-in-china--cms-22281"
          class="card">
          <div class="thumb"
            style="background-image: url(https://tinbanxe.vn/uploads/car/2021_08/honda-cr-v-lse-tinbanxe.vn-1.jpg);">
          </div>
          <article>
            <h1>Honda Việt Nam chính thức tung ra phiên bản đặc biệt Honda CR-V LSE</h1>
            <p>Đầu tháng 04 vừa qua, công ty Honda đã chính thức giới thiệu phiên bản đặc biệt CR-V LSE (bản L Special Edition) đến tất cả khách hàng Việt Nam.</p>
            <span>Hồng Thủyㅤ|ㅤ10/05/2021</span>
          </article>
        </a>
      </div>
    </div>
  </div>
</div>

