/* .row{
  width: 100%;
} */
.container{
  padding-left: 0px;
}
.container .first-item {
  width: 633px;
  height: 420px;
}
img {
  width: 209px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 2px;
}
.title{
  margin-top: 50px;
  border-bottom: solid 1px black;
  width: 635px;
}
.car{
  margin-top: 30px;
  border-bottom: solid 1px black;
  width: 635px
}
#icon{
  margin-right: 10px;
}
.price{
  margin-top: 100px;
}
.contact{
  margin-top: 220px;
  border-top: solid 1px black;
  padding-top: 20px;
}
h5{
  margin-top: 30px;
  margin-bottom: 30px;
}
h6{
  margin-top: 30px;
  margin-bottom: 30px;
}
.user{
  padding-bottom: 30px;
}
.fas {
  width: 20px;
  margin-right: 20px;
}
