/* .row{
  width: 100%;
} */
.container{
  padding-left: 0px;
}
.container .first-item {
  width: 633px;
  height: 420px;
}
img {
  width: 209px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 2px;
}
.title{
  margin-top: 50px;
  border-bottom: solid 1px black;
  width: 635px;
}
.car{
  margin-top: 30px;
  border-bottom: solid 1px black;
  width: 635px
}
#icon{
  margin-right: 10px;
}
.price{
  margin-top: 100px;
}
.contact{
  margin-top: 220px;
  border-top: solid 1px black;
  padding-top: 20px;
}
h5{
  margin-top: 30px;
  margin-bottom: 30px;
}
h6{
  margin-top: 30px;
  margin-bottom: 30px;
}
.user{
  padding-bottom: 30px;
}
.fas {
  width: 20px;
  margin-right: 20px;
}
.row{
  margin-left: 0px;
  width: 100%;
}

.floating-btn {
	border-radius: 30px;
	background-color: #142954;
	border: 1px solid #142954;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
  font-size: 30px;
}
.floating-btn:hover {
	background-color: #ffffff;
	color: #142954;
}
