<!--Navbar-->
<mdb-navbar class="navbar navbar-expand-lg ml-auto">
  <mdb-navbar-brand><a  class="navbar-brand ml-auto"routerLink="trangchu" href="#"><h3>CarThrift</h3></a></mdb-navbar-brand>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"  aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible content -->

    <!-- Links -->
  <div class="nav nav-tabs" id="main_nav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="trangchu" class="nav-link">Trang chủ</a>
      </li>
      <!-- Dropdown -->
      <li routerLink="muaxe" class="nav-item dropdown has-megamenu">
        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown" routerLink="muaxe">
          Mua xe</a>
        <ul class="dropdown-menu megamenu" role="menu">
          <div class="p-2">
            <div class="row">
              <div class="col-lg-4">
                  <h5>Cao cấp</h5>
                  <div>
                    <ul class="list-unstyled">
                        <li><a href="#" class="dropdown-item">Bentley</a></li>
                        <li><a href="#" class="dropdown-item">Rolls-Royce</a></li>
                        <li><a href="#" class="dropdown-item">Porsche</a></li>
                        <li><a href="#" class="dropdown-item">Ferrari</a></li>
                        <li><a href="#" class="dropdown-item">BMW</a></li>
                        <li><a href="#" class="dropdown-item">Lexus</a></li>
                    </ul>
                  </div>
                </div>
              <div class="col-lg-4">
                <h5>Phổ thông</h5>
              <div>
                <ul class="list-unstyled">
                  <li><a href="#" class="dropdown-item">Toyota</a></li>
                  <li><a href="#" class="dropdown-item">Honda</a></li>
                  <li><a href="#" class="dropdown-item">Chevrolet</a></li>
                  <li><a href="#" class="dropdown-item">Ford</a></li>
                  <li><a href="#" class="dropdown-item">Huyndai</a></li>
                  <li><a href="#" class="dropdown-item">Mazda</a></li>
                </ul>
              </div>
              </div>
              <div class="col-lg-4">
              <h5>Thể thao</h5>
              <div>
                <ul class="list-unstyled">
                  <li><a href="#" class="dropdown-item">Jeep</a></li>
                  <li><a href="#" class="dropdown-item">Porsche</a></li>
                  <li><a href="#" class="dropdown-item">Ferrari</a></li>
                  <li><a href="#" class="dropdown-item">Maserati</a></li>
                  <li><a href="#" class="dropdown-item">Land Rover</a></li>
                </ul>
              </div>
              </div>
            </div>
          </div>
        </ul>
      </li>

      <li class="nav-item dropdown has-megamenu">
        <a routerLink="banxe" class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Bán xe</a>
        <div class="dropdown-menu" >
          <div class="p-3">

            <div class="row">
              <div class="col-lg-3">
                <div class="content">
                  <img src="/assets/img/signup.png" />

                 <a routerLink='/dangky' class="title">Đăng ký tài khoản</a>
                </div>
                </div>
                <div class="col-lg-3">
                  <div class="content">
                    <img src="{{loginSrc}}" />
                    <a routerLink='/dangnhap'class="title">Đăng nhập tài khoản</a>
                  </div>
                 </div>
                 <div class="col-lg-3">
                  <div class="content">
                    <img src="{{postSrc}}" />
                    <a routerLink='/banxe'class="title">Đăng thông tin xe</a>
                  </div>
                 </div>
                 <div class="col-lg-3">
                  <div class="content">
                    <img src="{{manageSrc}}" />
                    <a routerLink='quanlybaidang' class="title">Quản lý bài đăng</a>
                  </div>
                 </div>
            </div>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a routerLink="tintuc" class="nav-link">Tin tức</a>
      </li>
      <li class="nav-item">
        <a routerLink="vechungtoi" class="nav-link">Về chúng tôi</a>
      </li>
      <li class="nav-item">
        <a routerLink="admin" class="nav-link">Admin</a>
      </li>


    </ul>
  </div>
    <!-- Links -->
  <div class="nav nav-tabs ml-auto" id="main_nav_left">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink="dangnhap" mdbWavesEffect class="nav-link" *ngIf="!authService.isLoggedIn"  >Đăng nhập</a>
      </li>
      <li class="nav-item">
        <a routerLink="dangky" mdbWavesEffect class="nav-link"*ngIf="!authService.isLoggedIn" >Đăng ký</a>
      </li>
      <li class="nav-item" id="user" *ngIf="authService.isLoggedIn" >
        <mat-icon>face</mat-icon>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn" >
        <!-- <i><mat-icon>face</mat-icon></i> -->
        <a class="nav-link">
          <div class="btn-group" mdbDropdown>
            <a>{{tokenService.getUser().user.fullname}}</a>
            <div class="dropdown-menu dropdown dropdown-primary dropdown-menu-right" role="menu" id='info'>
              <a class="dropdown-item"><mdb-icon far icon="smile"></mdb-icon>{{tokenService.getUser().user.fullname}}</a>
              <a class="dropdown-item" routerLink='/thongtintaikhoan' >Chỉnh sửa thông tin cá nhân</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" routerLink='/bailuu'><mdb-icon fas icon="heart"></mdb-icon>Tin đã lưu</a>
              <a class="dropdown-item"routerLink='/quanlybaidang'><mdb-icon far icon="bookmark"></mdb-icon>Quản lý bài đăng</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item"  (click)='logout()'><mdb-icon fas icon="sign-out-alt"></mdb-icon>Đăng xuất</a>
            </div>
          </div>
        </a>
      </li>
      <li class="nav-item" >
        <mat-raised-button id="button" class="nav-link" routerLink='/banxe' mdbWavesEffect>Đăng tin</mat-raised-button>
      </li>
    </ul>
  </div>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
<!-- <script>
document.addEventListener("DOMContentLoaded", function(){
  // make it as accordion for smaller screens
  if (window.innerWidth > 992) {

    document.querySelectorAll('.navbar .nav-item').forEach(function(everyitem){

      everyitem.addEventListener('mouseover', function(e){

        // let el_link = this.querySelector('a[data-bs-toggle]');

          // el_link.classList.add('show');
          // nextEl.classList.add('show');
        }
      )
      // });

      // setTimeout( () => {everyitem.addEventListener('mouseleave', function(e){
      //   let el_link = this.querySelector('a[data-bs-toggle]');
      //     if(el_link != null){
      //     let nextEl = el_link.nextElementSibling;
      //     el_link.classList.remove('show');
      //     nextEl.classList.remove('show');
      //   }}


      // )
      // }, 5000)
    });

  }
})
  // end if innerWidth
  // });
  // DOMContentLoaded  end

</script> -->
