<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/trangchu'>Trang chủ</a></li>
    <li class="breadcrumb-item"><a routerLink='/dangnhap'>Đăng nhập</a></li>
    <li class="breadcrumb-item active" aria-current="page">Xác thực</li>
  </ol>
</nav>

<form class="text-center border p-5" [formGroup]="forgotForm">

  <p class="h4 mb-4">Xác thực Email</p>

  <!-- Email -->
  <input type="Email" id="defaultLoginFormEmail"formControlName="email" class="form-control mb-4" placeholder="Email">


  <!-- Submit button -->
  <button mdbBtn color="info" class="my-4" type="submit" [disabled]="!forgotForm.valid">Gửi</button>

  <!-- Login -->
  <p>Đã xác thực!
    <a href="#" routerLink='/quenmatkhau/matkhaumoi' routerLinkActive="active">Đổi mật khẩu</a>
  </p>

</form>

