<form class="text-center border p-5" [formGroup]="forgotForm">

  <p class="h4 mb-4">Xác thực Email</p>

  <!-- Email -->
  <input type="Email" id="defaultLoginFormEmail"formControlName="email" class="form-control mb-4" placeholder="Email">


  <!-- Submit button -->
  <button mdbBtn color="info" class="my-4" type="submit" [disabled]="!forgotForm.valid">Gửi</button>

  <!-- Login -->
  <p>Đã reset password?
    <a href="#" routerLink='/dangnhap' routerLinkActive="active">Đăng nhập</a>
  </p>

</form>

<form class="text-center border p-5">

  <p class="h4 mb-4">Đổi mật khẩu</p>

  <!-- Password -->
  <input type="password" id="defaultFormOldPassword" required class="form-control mb-4" placeholder="Mật khẩu cũ">
  <!-- Password -->
  <input type="password" id="defaultFormNewPassword" required class="form-control mb-4" placeholder="Mật khẩu mới">
  <!-- Password -->
  <input type="password" id="defaultFormConfirmPassword" required class="form-control mb-4" placeholder="Mật khẩu cũ">


  <!-- Submit button -->
  <button mdbBtn color="info" class="my-4" type="submit">Gửi</button>

  <!-- Login -->
  <p>Đã đổi password?
    <a href="#" routerLink='/dangnhap'>Đăng nhập</a>
  </p>

</form>
