<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/trangchu'>Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tin đã lưu</li>
  </ol>
</nav>

<h2>Tin đã lưu</h2>
<p>{{message}}</p>
<div class="courses-container" *ngFor = "let post of posts">
	<div class="course">
		<div class="course-preview">
			<img src="{{post.postImage[0].image}}">

		</div>
		<div class="course-info">
      <h3>{{post.carBrand}} - {{post.carModel}} - {{post.carYear}}</h3>
			<h3>{{post.carPrice}} VNĐ</h3>
      <h6>{{post.carOdometer}} km</h6>
			<button class="del-btn" (click)="removeSavePost(post.id)">Xóa</button>
      <a routerLink="/muaxe/{{post.slug}}">Xem chi tiết </a>
		</div>
	</div>
</div>
<button class="floating-btn" (click)="onScroll()" >🠕</button>

<!-- <div class="alert" [class.visible]="isVisible">
 Xóa bài thành công
</div> -->
