<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/trangchu'>Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tin đã lưu</li>
  </ol>
</nav>

<h2>Tin đã lưu</h2>
<div class="courses-container" *ngFor = "let car of cars">
	<div class="course">
		<div class="course-preview">
			<img src="{{car.img[0]}}">

		</div>
		<div class="course-info">
      <h3>Hãng xe - Dòng xe - Năm sản xuất</h3>
			<h3>Giá</h3>
      <h6>Số km</h6>
			<button class="del-btn" >Xóa</button>
      <a href="#">Xem chi tiết </a>
		</div>
	</div>
</div>
<button class="floating-btn" (click)="onScroll()" >🠕</button>
