<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <h4>Danh sách bán xe</h4>
      </mat-panel-title>

    </mat-expansion-panel-header>
      <table class="table table-striped" >
        <thead>
        <tr>
          <th>Id</th>
          <th>Hãng xe</th>
          <th>Số km đã đi</th>
          <th>Giá bán</th>
          <th>Tỉnh/Thành Phố</th>
          <th>Liên hệ</th>
          <th>Người đăng</th>
          <th>Thời gian đăng</th>
          <th>Tùy chỉnh</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts ">
          <td>{{post.id}}</td>
          <td>{{post.carBrand}}</td>
          <td>{{post.carOdometer}}</td>
          <td>{{post.carPrice}}</td>
          <td>{{post.contactProvince}}</td>
          <td>{{post.contactPhone}}</td>
          <td>{{post.postedBy}}</td>
          <td>{{post.createdAt}}</td>
          <td><mdb-icon fas icon="trash-alt"></mdb-icon></td>
        </tr>
        </tbody>
      </table>
      <button class="del-btn" (click) = "delAllPosts()">Xóa tất cả</button>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <h4>Danh sách người dùng</h4>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <table class="table table-striped" >
      <thead>
      <tr>
        <th>Id</th>
        <th>Họ và tên</th>
        <th>Email</th>
        <th>Mật khẩu</th>
        <th>Số điện thoại</th>
        <th>Địa chỉ thường trú</th>
        <th>Tùy chỉnh</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>ID</td>
        <td>Họ và tên</td>
        <td>Email</td>
        <td>Mật khẩu</td>
        <td>Số điện thoại</td>
        <td>Địa chỉ thường trú</td>
        <td><mdb-icon fas icon="trash-alt"></mdb-icon></td>
      </tr>
      </tbody>
    </table>
    <button class="del-btn" >Xóa tất cả</button>
  </mat-expansion-panel>
</mat-accordion>

<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <h4>Danh sách tin tức</h4>
      </mat-panel-title>

    </mat-expansion-panel-header>
    <table class="table table-striped"  >
      <thead>
      <tr>
        <th>ID</th>
        <th>Tiêu đề</th>
        <th>Tác giả</th>
        <th>Ngày đăng</th>
        <th>Ngày chỉnh sửa</th>
        <th>Tùy chỉnh</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let news of newses">
        <td>{{news.id}}</td>
        <td>{{news.title}}</td>
        <td>{{news.postedBy}}</td>
        <td>{{news.createdAt}}/td>
        <td>{{news.updatedAt}}</td>
        <td><mdb-icon fas icon="trash-alt"></mdb-icon><mdb-icon routerLink='/admin/suatintuc' fas icon="pen" ></mdb-icon></td>
      </tr>
      </tbody>
    </table>
    <button class="add-btn" routerLink="/admin/themtintuc">Thêm tin tức</button>
    <button class="del-btn" >Xóa tất cả</button>
  </mat-expansion-panel>
</mat-accordion>


<button class="floating-btn" (click)="onScroll()" >🠕</button>
