h3 {
  margin-top: 50px;
  text-align: center;
}

.table {
  margin-top: 50px;
  /* margin-left: 50px;
  margin-right: 50px; */
  width: 92%;
  margin: 50px;
  color: #405065;
  text-align: center;
}

mdb-icon{
  padding-left: 0px;
  padding-right: 20px;
  cursor: pointer;
}
