<<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/trangchu'>Trang chủ</a></li>
    <li class="breadcrumb-item"><a routerLink='/admin'>Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa tin tức</li>
  </ol>
</nav>

<form class=" border p-5 " [formGroup]="changeNews" >
  <div class="container">
    <p class="h5">Tin tức</p>
    <div class="divider"></div>
    <div class="form-group row" ><p class="title" class="h6">Tiêu đề</p>
      <div>
        <input type="text" class="form-control" formControlName="title" value="{{news.title}}" placeholder=" {{news.title}}">
      </div>
    </div>

    <div class="form-group row" ><p class="title" class="h6">Nội dung</p>
      <div>
        <textarea class="form-control"  formControlName="content" value="{{news.content}}" placeholder=" {{news.content}}"></textarea>
      </div>
    </div>
    <div class="form-group row" ><p class="title" class="h6">Tác giả</p>
      <div>
        <p type="text" class="form-control">{{news.postedBy.fullname}}</p>
      </div>
    </div>

    <div class="form-group row" ><p class="title" class="h6">Ngày đăng</p>
        <p class="form-control">{{news.createdAt}}</p>
    </div>
  </div>
  <button mdbBtn color="info" class="my-4 text-center" type="submit" (click)="onSubmit()" >Sửa </button>
  </form>
