.container {
  margin: auto;
}

.logo {
  text-align: center;
}
.logo img {
  display: inline-block;
}
.slogan {
  text-align: center;
}
.slogan h1 {
  font-size: 40px;
  font-weight: 500;
  color: #333;
  font-weight: bold;
}



.search {
  margin-top: 100px;
  text-align: center;
}

.search table {
  display: inline-block;
}

.search .td_search-1 {
  width: 900px;
}
.search .td_search-1 input {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  height: 50px;
}
.search .td_search-1 input:focus {
  border: #03153B;
}
.search .td_search-2 {
  padding-bottom: 18px;
  padding-left: 5px;
}

.search button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background: white;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
  width: 120px;
  height: 50px;
  margin: 0;
  background-color:dodgerblue;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}
.search button {
  margin-left: 7px;
}
.search button:hover {
  color: #FFF;
}










.carousel_container {
  margin-top: 100px;
}
#carousel_container_a {
  margin-top: 330px;
}

.carousel_container .link_all {
  float: right;
}

.carousel_container_1 {
  margin-top: 50px;
}

.carousel_container_2 {
  margin-top: 50px;
  margin-bottom: 50px
}

.carousel_container h1 {
  text-align: justify;
  font-size: 30px;
  font-weight: 500;
  color: #333;
  font-weight: bold;
}
span {
  text-align: justify;
  font-size: 15px;
  line-height: 1.7;
  font-weight: bold;
}
.sp_1 {
  margin-right: 50px;
}
.sp_2 {
  margin-right: 10px;
}
.carousel-cell h1 {
  margin-bottom: 50px;
  text-align: center;
}











.card {
  display: inline-flex;
  width: 300px;
  height: 395px;
  border-radius: 15px;
  margin-left: 30px;
  /*background: rgba(77, 54, 54, 0.6);*/
  background: rgba(255, 255, 255, 0.6);
  transition: 0.4s ease-out;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  /*background: rgba(0, 0, 0, 0.6);*/
  background: white;
  z-index: 2;
  transition: 0.5s;
  opacity: 1;
}
.card img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px 15px 5px 5px;
  box-shadow: 0px 7px 10px -5px rgba(0, 0, 0, 0.5);
  z-index: 2;
}


.card-body {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 3;
  color: white;
  opacity: 1;
  transition: 0.5s;
}

.card-body .card-content {
  display: block;
  margin-bottom: 100px;
  padding-bottom: 20px;
}

.card-body .card-content a {
  cursor: pointer;
  color: dodgerblue;
  font-weight: bold;
}

.card-body .card-content .info {
  color: #888;
  font-size: small;
}

.card-body .card-content #price {
  color: rgb(112, 112, 112);
  font-size: small;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 2px;
}
.card-body .card-content .price {
  color: rgb(68, 209, 162);
  font-weight: bold;
  margin-left: 20px;
}

.card-body .card-content table tr .td_1 {
  padding-right: 100px;
}

.card-body .card-content table {
  margin-top: 20px;
}
.card-body .card-content p {
  margin: 0px;
}

#card {
  width: 250px;
  height: 250px;
  margin-left: 10px;
}

#card-img {
  height: 150px;
  margin-top: 40px;
  box-shadow: none;
}
#card-body {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 3;
  color: white;
  opacity: 1;
}
#card-content {
  margin-top: 180px;
}
#card-content h5 {
  text-align: center;
}





#card_1 {
  width: 1090px;
  height: 253px;
  margin-left: 10px;
  margin-bottom: 20px;
}
#card-img_a {
  height: 250px;
  width: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px 5px 5px 15px;
  box-shadow: none;
}
#card-img_b {
  height: 250px;
  width: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 5px 15px 15px 5px;
  box-shadow: none;
}
.td_a {
  width: 520px;
}
.td_a1 {
  padding-right: 20px;
}
.td_2a {
  padding-left: 20px;
  padding-right: 20px;
}
.td_2b {
  width: 500px;
}
#card-body_1 {
  height: 100%;
  width: 100%;
  position:relative;
  z-index: 3;
  opacity: 1;
}
#card-content_1 {
  margin-bottom: 0px;
}
#card-content_1 h3 {
  color: dodgerblue;
  font-weight: bold;
}
#card-content_1 span {
  color: rgb(88, 88, 88);
  font-size: 28px;
  font-weight: bold;
}

#card-content_1 p {
  color: rgb(88, 88, 88);
  font-size: medium;
  text-align: justify;
}













.floating-btn {
	border-radius: 30px;
	background-color: #142954;
	border: 1px solid #142954;
	box-shadow: 0 16px 22px -17px #03153B;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
  font-size: 30px;
}
.floating-btn:hover {
	background-color: #ffffff;
	color: #142954;
}

