<div class="container">

  <!--Logo-->
  <div class="logo" >
    <img class="img_logo" [src] = "logo_img_src" alt = "car_thift">
  </div>

  <!--Slogan-->
  <div class="slogan">
    <h1 [textContent] = slogan ></h1>
  </div>

  <form class="search" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td class="td_search-1">
          <div class="form-group">
                <input type="text" class="form-control" placeholder="Tìm kiếm" [formControl]="name">
          </div>
        </td>
        <td class="td_search-2">
          <button>Tìm kiếm</button>
        </td>
      </tr>
    </table>

  </form>

  <!--Carousel-->
  <div [class.More-Search]="Search" class="carousel_container" id="carousel_container_a">
    <h1>Kết quả tìm kiếm: <span class="search_span">" {{name.value}} "</span></h1>
    <div class="pagination">
      <pagination-controls id="listening_pagination" previousLabel="trước" nextLabel="sau" (pageChange)="page = $event">
      </pagination-controls>
    </div>
    <div class="carousel_container_1">
      <div class="carousel-cell_a" style=" width: 360px ; height: 435px ; padding-top: 10px"
      *ngFor="let post of posts | filter: filterTerm | paginate: { id: 'listening_pagination',
      itemsPerPage: 3,
      currentPage: page,
      totalItems: totalLength}">
        <div class="card" id="card_a" >

          <!-- <a routerLink=""><img class="card-img-top" id="card-img_c" src="{{car.img[0]}}" alt="Card image cap"></a> -->

          <div class="card-body" id="card-body_a">
            <div class="card-content" id="card-content_a">
              <h5 class="card-title"><a routerLink="/muaxe/{{post.slug}}">{{post.carBrand}}&nbsp;&nbsp;{{post.carModel}}&nbsp;&nbsp;{{post.carYear}}</a></h5>
              <p class="card-text" id="price" >Giá bán</p>
              <h5 class="card-text" class="price">{{post.carPrice}} VND </h5>
              <table>
                <tr>
                  <td class="td_1"><p class="card-text" class="info"><mdb-icon fas icon="users" class="user"></mdb-icon>&nbsp;&nbsp;{{post.carSeats}}</p></td>
                  <td><p class="card-text" class="info"><mdb-icon fas icon="tachometer-alt"></mdb-icon>&nbsp;&nbsp;{{post.carOdometer}} km</p></td>
                </tr>
                <tr>
                  <td class="td_1"><p class="card-text" class="info"><mdb-icon fas icon="map-marker-alt"></mdb-icon>&nbsp;&nbsp;&nbsp;{{post.contactProvince}}</p></td>
                  <td><p class="card-text" class="info"><mdb-icon fas icon="palette"></mdb-icon>&nbsp;&nbsp;&nbsp;Màu {{post.carColor}}</p></td>
                </tr>
              </table>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <div>&nbsp;</div>
  <!--Carousel-->
  <div class="carousel_container" id="carousel_container_b">
    <h1>Sản phẩm ưu đãi</h1>
    <div class="link_all">
      <a routerLink="/muaxe"><span class="sp_1">Tất cả >></span></a>
    </div>
    <div class="carousel_container_1">
      <carousel objectFit='contain'
      [height]="425"
      [cellWidth]="360"
      [margin]="3.8"
      [autoplay]="true"
      [autoplayInterval]="10000"
      [pauseOnHover]="true"
      [loop]="true"
      [arrowsOutside]="true"
      [cellsToScroll]=2
      [minSwipeDistance]="100">

      <div class="carousel-cell" style=" width: 500px ; height: 435px ; padding-top: 10px" *ngFor="let post of posts">
        <div class="card" >

          <!-- <a routerLink=""><img class="card-img-top" src="{{car.img[0]}}" alt="Card image cap"></a> -->

          <div class="card-body">
            <div class="card-content">
              <h5 class="card-title"><a routerLink="">{{post.carBrand}}&nbsp;&nbsp;{{post.carModel}}&nbsp;&nbsp;{{post.carYear}}</a></h5>
              <p class="card-text" id="price" >Giá bán</p>
              <h5 class="card-text" class="price">{{post.carPrice}} VND </h5>
              <table>
                <tr>
                  <td class="td_1"><p class="card-text" class="info"><mdb-icon fas icon="users" class="user"></mdb-icon>&nbsp;&nbsp;{{post.carSeats}}</p></td>
                  <td><p class="card-text" class="info"><mdb-icon fas icon="tachometer-alt"></mdb-icon>&nbsp;&nbsp;{{post.carOdometer}} km</p></td>
                </tr>
                <tr>
                  <td class="td_1"><p class="card-text" class="info"><mdb-icon fas icon="map-marker-alt"></mdb-icon>&nbsp;&nbsp;&nbsp;{{post.carProvince}}</p></td>
                  <td><p class="card-text" class="info"><mdb-icon fas icon="palette"></mdb-icon>&nbsp;&nbsp;&nbsp;Màu {{post.carColor}}</p></td>
                </tr>
              </table>
            </div>

          </div>

        </div>
      </div>

      </carousel>
    </div>
  </div>

  <div class="carousel_container">
    <h1>Hãng xe</h1>
    <div class="link_all">
      <a routerLink="/muaxe"><span class="sp_2">Tất cả >></span></a>
    </div>
    <div class="carousel_container_1">
      <carousel objectFit='contain'
      [height]="275"
      [cellWidth]="270"
      [margin]="10"
      [autoplay]="true"
      [autoplayInterval]="10000"
      [pauseOnHover]="true"
      [loop]="true"
      [arrowsOutside]="true"
      [cellsToScroll]=3
      [minSwipeDistance]="10">

      <div class="carousel-cell" style=" width: 280px ; height: 300 ; padding-top: 10px " *ngFor="let brand of brands">
        <div class="card" id="card">

          <a routerLink=""><img class="card-img-top" id="card-img" src="{{brand.img}}" alt="Card image cap"></a>

          <div class="card-body" id="card-body" >
            <div class="card-content" id="card-content">
              <h5 class="card-title"><a routerLink="/{{brand.brand}}">{{brand.brand}}</a></h5>
            </div>

          </div>

        </div>
      </div>

      </carousel>
    </div>
  </div>

  <div class="carousel_container">
    <div class="carousel_container_1">
      <carousel objectFit='contain'
      [height]="980"
      [cellWidth]="1110"
      [margin]="10"
      [autoplay]="true"
      [autoplayInterval]="100000000000000000000000000000000000000"
      [pauseOnHover]="true"
      [loop]="true"
      [arrowsOutside]="true"
      [minSwipeDistance]="10">

      <div class="carousel-cell" style=" width: 1000px ; height: 910px ; padding-top: 10px ">
        <h1>Các bước mua xe</h1>
          <div class="card" id="card_1">
            <table>
              <tr>
                <td class="td_a">
                  <img class="card-img-top" id="card-img_a" src="https://websitemeinvoice.misacdn.net/wp-content/uploads/2019/01/243-1.jpg" />
                </td>
                <td class="td_a1">
                  <div class="card-body" id="card-body_1">
                    <div class="card-content" id="card-content_1">
                      <h3 class="card-title">Bước 1: <span>Lựa chọn chiếc xe ưng ý</span> </h3>
                      <p>Tìm kiếm chiếc xe lý tưởng của bạn bằng cách duyệt qua hàng trăm
                        chiếc xe khác nhau trên trang web của chúng tôi. Và đừng quên tận
                        dụng bộ lọc của chúng tôi để giúp tinh chỉnh những tìm kiếm của bạn
                        một cách hiệu quả nhất.</p>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="card" id="card_1">
            <table>
              <tr>
                <td class="td_a">
                  <img class="card-img-top" id="card-img_a" src="https://www.mashreqbank.com/-/jssmedia/Images/india/about-us/management-team/contact-us-main.ashx?h=1414&iar=0&w=2121&hash=91D57A2C8C9406F397F8677DBDAD879A" />
                </td>
                <td class="td_a1">
                  <div class="card-body" id="card-body_1">
                    <div class="card-content" id="card-content_1">
                      <h3 class="card-title">Bước 2: <span>Liên hệ với người bán</span></h3>
                      <p>Khi đã tìm thấy chiếc xe mà bạn quan tâm, hãy liên hệ ngay với người bán
                        thông qua số điện thoại hiển thị trong các bài đăng của chúng tôi để thực hiện
                        thỏa thuận với người bán chiếc xe đó. Chúng tôi sẽ giúp hỗ trợ việc thỏa thuận nếu
                        bạn yêu cầu.</p>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="card" id="card_1">
            <table>
              <tr>
                <td class="td_a">
                  <img class="card-img-top" id="card-img_a" src="https://specialistfinanceintroducer.co.uk/wp-content/uploads/2016/03/Hand-shake-1-616x370.jpg" />
                </td>
                <td class="td_a1">
                  <div class="card-body" id="card-body_1">
                    <div class="card-content" id="card-content_1">
                      <h3 class="card-title">Bước 3: <span>Thực hiện giao dịch</span></h3>
                      <p>Sau khi thỏa thuận giữa bạn và người bán đã được thống nhất, hãy lựa chọn hình thức thanh toán và
                        địa điểm nhận xe, cố vấn của chúng tôi sẽ có mặt để hỗ trợ và để đảm bảo quá trình bàn giao diễn ra
                        suôn sẻ, minh bạch.</p>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>

      </div>

      <div class="carousel-cell" style=" width: 1000px ; height: 910px ; padding-top: 10px ">
        <h1>Các bước bán xe</h1>
        <div class="card" id="card_1">
          <table>
            <tr>
              <td class="td_2a">
                <div class="card-body" id="card-body_1">
                  <div class="card-content" id="card-content_1">
                    <h3 class="card-title">Bước 1: <span>Đăng bài bán xe</span></h3>
                    <p>Bạn có một chiếc xe muốn bán, hãy truy cập trang web uy tín của chúng tôi để thực hiện
                      đăng tin. Với những thông tin mô tả chi tiết về chiếc xe của bạn, chúng tôi sẽ giúp bạn tìm
                      được người có nhu cầu sở hữu chiếc xa mà bạn muốn bán trong thời gian sớm nhất. </p>
                  </div>
                </div>
              </td>
              <td class="td_2b">
                <img class="card-img-top" id="card-img_b" src="https://s3.envato.com/files/76e3c5bd-3229-4221-80d0-de967e35f2c3/inline_image_preview.jpg" />
              </td>
            </tr>
          </table>
        </div>
        <div class="card" id="card_1">
          <table>
            <tr>
              <td class="td_2a">
                <div class="card-body" id="card-body_1">
                  <div class="card-content" id="card-content_1">
                    <h3 class="card-title">Bước 2: <span>Theo dõi bài đăng</span></h3>
                    <p>Sau khi thực hiện đăng bài về chiếc xe muốn bán, hãy chờ đợi để những khách hàng tiềm năng muốn
                      sở hữu chiếc xe của bạn liên hệ đến để thỏa thuận giao dịch. Bạn cũng có thể sửa đổi thông tin về chiếc xe, hoặc
                      xóa bài đăng nếu không còn nhu cần bán xe nữa.</p>
                  </div>
                </div>
              </td>
              <td class="td_2b">
                <img class="card-img-top" id="card-img_b" src="https://www.businessinsider.in/thumb/msid-77234922,width-960,resizemode-4,imgsize-74821/tech-buying-guides/best-laptops-for-working-from-home/work-from-home-laptops.jpg" />
              </td>
            </tr>
          </table>
        </div>
        <div class="card" id="card_1">
          <table>
            <tr>
              <td class="td_2a">
                <div class="card-body" id="card-body_1">
                  <div class="card-content" id="card-content_1">
                    <h3 class="card-title">Bước 3: <span>Thực hiện giao dịch</span></h3>
                    <p>Sau khi thỏa thuận giữa bạn và người bán đã được thống nhất, hãy lựa chọn hình thức thanh toán và
                      địa điểm nhận xe, cố vấn của chúng tôi sẽ có mặt để hỗ trợ và để đảm bảo quá trình bàn giao diễn ra
                      suôn sẻ, minh bạch.</p>
                  </div>
                </div>
              </td>
              <td class="td_2b">
                <img class="card-img-top" id="card-img_b" src="https://www.canadianbusiness.com/wp-content/uploads/2011/07/19a9bf0149b3b2d9fce5bfde73e9.jpeg" />
              </td>
            </tr>
          </table>
        </div>

      </div>

      </carousel>
    </div>
  </div>


  <div class=end>ㅤ</div>

</div>


<button class="floating-btn" (click)="onScroll()" >🠕</button>
