/* body {
  background: #eaafc8;
  background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);
  background: linear-gradient(to right, #eaafc8, #654ea3);
  min-height: 100vh
}

code {
  color: #745eb1;
  background: #fff;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem
} */
.row{
  margin-left: 40px;
  margin-top: 40px;
}
.text-uppercase {
  letter-spacing: 0.08em
}
img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}
.content{
  align-items: center;
}
