<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/trangchu'>Trang chủ</a></li>
    <li class="breadcrumb-item"><a routerLink='/admin'>Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thêm tin tức</li>
  </ol>
</nav>

<form class=" border p-5 " [formGroup]='addNewsForm'>
<div class="container">
  <p class="h5">Tin tức</p>
  <div class="divider"></div>
  <div class="form-group row" ><p class="title" class="h6">Tiêu đề</p>
    <div>
      <input type="text"  class="form-control" value="" formControlName="title">
    </div>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Nội dung</p>
    <div>
      <textarea  class="form-control"value="" formControlName="content"></textarea>
    </div>
  </div>
  <div class="form-group row" ><p class="title" class="h6">Tải ảnh lên </p>
    <div>
      <input #imageInput
             type="file"
             accept="image/*"
             (change)="processFile(imageInput)"


             class="form-control"
             formControlName="image">
      <p></p>
    </div>
  </div>

</div>
<div class="button">
<button mdbBtn color="info" class="my-4 text-center" type="submit" (click)='onSubmit()' >Thêm </button>
</div>
</form>
