<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-header></app-header>
<breadcrumb #parent>
  <!-- <ol class="breadcrumb">
  <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
    <li *ngIf="!route.terminal" class="breadcrumb-item">
      <a></a>

    </li>

  </ng-template>
  </ol> -->
</breadcrumb>
<app-change-info></app-change-info>
<app-footer></app-footer>

