<div class="row" id="container">
  <div class="col-sm-3">
    <p>blabla</p>
  </div>
  <div class="col-sm-9">
    <div class="card" style="width: 280px;" *ngFor ="let car of cars | paginate: { id: 'listening_pagination',
    itemsPerPage: 9,
    currentPage: page,
    totalItems: totalLength}">
      <a routerLink=""><img class="card-img-top" src="{{car.img[0]}}" alt="Card image cap"></a>
      <div class="card-body">
        <h5 class="card-title"><a routerLink="">{{car.brand}} - {{car.model}} - {{car.year}}</a></h5>
        <h6 class="card-text" class="price">{{car.price}} VND </h6>
        <p class="card-text" class="km">{{car.km}} km</p>
        <a href="#" class="btn btn-primary">Xem chi tiết</a>
        <button class="btn save">Lưu</button>
      </div>
    </div>
  </div>
</div>
<div class="pagination">
  <pagination-controls id="listening_pagination" previousLabel="trước" nextLabel="sau" (pageChange)="page = $event"></pagination-controls>
</div>
