.divider {
  border-bottom: solid;
  margin-bottom: 30px;
}
/* h3{
  display: inline-block;
  margin-left: 30px;
  width: 150px;
} */
select, textarea, .form-control{
  width: 850px;
  max-width: 100%;
}
.container{
  margin-bottom: 0px;
}
.container .form-group{
  font-weight: normal ;
  min-height: 1.2em;
  font-size: 1rem;
  color: #495057;
  margin-left: 0px;
}


.form-control{
  margin-left: 0px;
}
.h4, .h5{
  font-weight: bold;
}
.h6 {
  margin-left: 50px;
  width: 150px;
  padding-top: 10px;
  font-size: 1rem;
  font-weight: 400;
  font-weight: bold;
  display: inline-block;
}
.my-4{
 margin-left: 510px;
}
p {
  text-align: center;
  margin-bottom: 0px;
}
.email{
  padding-top: 10px;
}
