<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink='/trangchu'>Trang chủ</a></li>
    <li class="breadcrumb-item active" aria-current="page">Thông tin tài khoản</li>
  </ol>
</nav>

<form class=" border p-5 " [formGroup]="changeForm" (ngSubmit)="onSubmit()">
<div class="container">
  <p class="h5">Thông tin tài khoản</p>
  <div class="divider"></div>
  <div class="form-group row" ><p  class="h6">Họ và tên</p>
    <div>
      <input type="text" class="form-control" value="" formControlName="name">
    </div>
  </div>
  <div class="form-group row" ><p class="h6">Email</p>
    <div class="email">
      <p>Email</p>
    </div>
  </div>
  <div class="form-group row" ><p class="h6">Số điện thoại</p>
    <div>
      <input type="email" class="form-control" value="" >
    </div>
  </div>
  <div class="form-group row" ><p class="h6">Địa chỉ thường trú</p>
    <div>
      <input type="email" class="form-control" value="">
    </div>
  </div>
  <button mdbBtn color="info" class="my-4"  type="submit" >Lưu</button>
  <!-- <button mdbBtn class="my-4 text-center" type="submit" >Lưu</button> -->
</div>
<p>
  <a  routerLink='/doimatkhau'>Đổi mật khẩu</a>
</p>

</form>
