<form class=" border p-5 " [formGroup]="changeForm" (ngSubmit)="onSubmit()">
<div class="container">
  <p class="h5">Thông tin liên hệ</p>
  <div class="divider"></div>
  <div class="form-group row" ><p class="title"  class="h6">Họ và tên</p>
    <div>
      <input type="text" class="form-control" value="" formControlName="name">
    </div>
  </div>
  <div class="form-group row" ><p class="title" class="h6">Email</p>
    <div>
      <input type="email" class="form-control" value="" formControlName="email">
    </div>
  </div>
  <div class="form-group row" ><p class="title" class="h6">Số điện thoại *</p>
    <div>
      <input type="tel"  class="form-control" formControlName="phone" value="">
    </div>
  </div>

  <div class="form-group row" ><p class="title" class="h6">Địa chỉ thường trú</p>
    <div>
      <input type="text" class="form-control" value="" formControlName="add">
    </div>
  </div>
  <button mdbBtn color="info" class="my-4"  type="submit" >Lưu</button>
  <!-- <button mdbBtn class="my-4 text-center" type="submit" >Lưu</button> -->
</div>
<p>
  <a  routerLink='/doimatkhau'>Đổi mật khẩu</a>
</p>

</form>
