<form class="text-center border p-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Đăng ký</p>

  <!-- Name -->
  <input type="text" formControlName="name"  class="form-control mb-4" placeholder="Họ và tên *" >
  <!-- Email -->
  <input type="email" formControlName="email" class="form-control mb-4" placeholder="Email *">
  <!-- Password -->
  <input type="password" formControlName="password" class="form-control mb-4"placeholder="Mật khẩu *">
  <!--Confirm Password -->
  <input type="password" formControlName="passwordConfirm" class="form-control mb-4" placeholder="Nhập lại mật khẩu *">


  <!-- Sign in button -->
  <button mdbBtn color="info" class="my-4" [disabled]="!registerForm.valid" type="submit">Đăng ký</button>

  <!-- Login -->
  <p>Đã có tài khoản?
    <a href="#" routerLink='/dangnhap'>Đăng nhập</a>
  </p>


</form>
